{% extends "base.html" %}
{% block otherscript %}


{% endblock %}

{% block extra_head %}
{#	<style>#}
{#		body {#}
{#			padding-top: 60px;#}
{#		}#}
{#	</style>#}
{% endblock %}

{% block header %}
	{% block menu %}
        <h1>赵乐's小站</h1>
        <h5>专注ACM+面试题+Machine Learning+Python</h5>
        <div class="navbar navbar-inverse">
            <div class="navbar-inner nav-collapse" style="height: auto;">
                <div class="container">
                    <a class="brand" href="#">主页</a>
                    <ul class="nav">
                        <li class="active divider-vertical">
                            <a href="{% url bloglist %}">博客</a>
                        </li>
                        <li>
                            <a href="#">科技新闻</a>
                        </li>
                        <li>
                            <a href="#">个人作品</a>
                        </li>
                        <li>
                            <a href="{% url myresume %}" target="view_window">简历</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
	{% endblock %}
{% endblock %}
{% block footer %}
    <footer class="footer">
        <div class="container">
            <p>谢谢访问我的小站</p>
        </div>
    </footer>
{% endblock %}

{% block sidebar %}
    {% include 'sblog/include/comments_list.html' %}
{% endblock %}

{% block tag %}
    {% include 'sblog/include/tags_list.html' %}
{% endblock %}

{% block blog_list %}
    {% include 'sblog/include/blog_title_list.html' %}
{% endblock %}
