<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">

	<title>赵乐的在线简历</title>

	<!-- Meta -->
	<meta name="description" content="A few lines about yourself">
	<meta name="keywords" content="web,developer,designer,resume" />
	<meta name="author" content="Janet Wagner">

	<!-- CSS Stylesheet -->
	<link rel="stylesheet" type="text/css" href="/static/css/style_resume.css" />

	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<body>

	<!-- Begin Wrapper -->
	<div id="wrapper">

		<!-- Begin Content Area -->
		<div id="content">

			<!-- Begin Header -->
			<header>

				<!-- Begin Contact Section -->
				<section id="contact-details">
					<div itemscope itemtype="http://schema.org/Person">

						<!-- Begin Profile Image Section -->
						<div class="header_1">
							<img src="/static/images/profile.png" itemprop="image" width="176" height="250" alt="Your Name" />
						</div>
						<!-- End Profile Image Section -->

						<!-- Begin Profile Information Section -->
						<div class="header_2">

							<h1>
								<span itemprop="name">赵乐</span>
							</h1>
							<h3>
								<span itemprop="jobTitle">求职意向：互联网技术研发相关职位</span>
							</h3>

							<ul class="info_2">
								<li class="phone">
									<span itemprop="telephone">18001289502</span>
								</li>
								<li class="email">
									<a href="mailto:dollar_wish@outlook.com" itemprop="name">dollar_wish@outlook.com</a>
								</li>
								<li class="site_url">
									<a rel="me" itemprop="url" href="http://zhaole.duapp.com" title="zhaole.duapp.com">zhaole.duapp.com</a>
								</li>
							</ul>
														<!-- Begin PostalAddress Schema -->
							<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
								<ul class="info_1">
									<li class="address">
										<span itemprop="streetAddress">北京市海淀区北京交通大学学苑公寓4号楼</span>
									</li>
								</ul>
							</div>
							<!-- End PostalAddress Schema -->

						</div>
						<!-- End Profile Information Section -->

					</div>
				</section>
				<!-- End Contact Section -->

			</header>
			<!-- End Header -->

			<div class="clear">&nbsp;</div>

			<!-- Begin Profile Section -->
			<dl>
				<dt>简介：</dt>
				<dd>

					<section class="summary">
						热爱互联网，希望成为信息革命的一部分。喜欢码代码，希望做出的产品有更多的人用，希望有一天做出能改变人的生活习惯的产品。
					</section>

				</dd>
			</dl>
			<!-- End Profile Section -->

			<div class="clear">&nbsp;</div>

			<!-- Begin Skills Section -->
			<div itemscope itemtype="http://schema.org/ItemList">

				<dl>
					<dt itemprop="name">个人技能：</dt>
					<dd>
						<section id="skills">
							<ul class="list1">
								<li>熟悉C/C++语言（40,000行）</li>
								<li>熟悉Java语言（20,000行）</li>
								<li>了解python语言（20,000行）</li>
								<li>熟悉Android软件开发（开发过两个APP）</li>
								<li>熟悉Django框架（开发过个人小站）</li>
								<li>了解Java web开发框架中的hibernate+Spring</li>
								<li>熟悉MySQL</li>
								<li>熟悉Linux操作环境</li>
							</ul>
						</section>

					</dd>
				</dl>

			</div>
			<!-- End Skills Section -->

			<div class="clear">&nbsp;</div>

			<!-- Begin Experience Section -->
			<dl>
				<dt>工作及实习经历：</dt>

				<dd>

					<section id="experience">

						<!-- Position #1 -->
						<div itemscope itemtype="http://schema.org/Organization">

							<h2 class="top">
								<span itemprop="jobTitle">云计算研发实习工程师</span>
							</h2>
							<p class="bus1">
								<span itemprop="name">华为北京研究所云计算部门</span>
							</p>
							<p class="time">2012.10-2013.4</p>

							<p itemprop="description">
								参与项目“可信虚拟机”。主要工作是在华为云计算运维管理平台GalaxyEngine中添加可信主机验证的功能。主要职责：
							</p>
							<p>
								<ul class="job1">
									<li>试验开源项目OpenAttestation；</li>
									<li>阅读OpenAttestation源代码并修改可信主机验证流程；</li>
									<li>整合OpenAttestation与GalaxyEngine。</li>
								</ul>
							</p>
						</div>

						<!-- Position #2 -->
						<div itemscope itemtype="http://schema.org/Organization">

							<h2>
								<span itemprop="jobTitle">科研助理</span>
							</h2>
							<p class="bus1">
								<span itemprop="name">清华大学核能与新能源技术研究院</span>
							</p>
							<p class="time">2010.7-2011.8</p>

							<p itemprop="description">
								清华大学核能与新能源技术研究院，参与国家12•5重大专项“高温气冷堆球床等效导热系数实验”。主要职责：
							</p>
							<p>
								<ul class="job2">
									<li>数据采集系统的搭建与调试;</li>
									<li>控制实验设备采集数据；</li>
									<li>对采集到的实验数据进行后期处理。</li>
								</ul>
							</p>

						</div>
					</section>

				</dd>
			</dl>
			<!-- End Experience Section -->

			<div class="clear">&nbsp;</div>

			<!-- Begin Experience Section -->
			<dl>
				<dt>项目经验：</dt>

				<dd>

					<section id="experience">

						<!-- Position #1 -->
						<div itemscope itemtype="http://schema.org/Organization">

							<h2 class="top">
								<span itemprop="jobTitle">校ACM队暑期集训学生教练</span>
							</h2>
							<!-- <p class="bus1">
								<span itemprop="name">华为北京研究所云计算部门</span>
							</p> -->
							<p class="time">2012.2-2012.8</p>

							<p itemprop="description">
								跟随校ACM队训练半年，参加校ACM队的寒暑假集训和11-12学年第二学期每周末专题讲座及训练，并在暑期集训期间担任校队新人集训的学生教练，负责深搜、广搜专题的讲解和训练。
							</p>
						</div>

						<!-- Position #2 -->
						<div itemscope itemtype="http://schema.org/Organization">

							<h2>
								<span itemprop="jobTitle">
									<a href="https://github.com/OpenAttestation/OpenAttestation" title="GitHub地址" target="view_window">
										OpenAttestation
									</a>
								</span>
							</h2>
							<p class="time">2012.10-2013.4</p>
							<p itemprop="description">
								熟悉开源项目OpenAttestation，了解其运行环境及通信方式，掌握了Host验证流程，阅读并修改过Server端代码以及修改过数据库中的每一个表。
							</p>
						</div>

						<div itemscope itemtype="http://schema.org/Organization">

							<h2>
								<span itemprop="jobTitle">
									<a href="https://github.com/dollarzhaole/Friendlocation" title="GitHub地址" target="view_window">
										FriendLocation
									</a>
								</span>
							</h2>
							<p class="time">2012.10-2013.4</p>
							<p itemprop="description">
								自行设计开发Android软件FriendLocation。APP的主要功能是解析联系人的地址信息，把联系人的位置显示在地图上，并可以定位获取用户的当前位置，以查看周围的联系人。要想广泛使用可以集成到名片夹扫描类的软件中。
							</p>
						</div>

						<div itemscope itemtype="http://schema.org/Organization">

							<h2>
								<span itemprop="jobTitle">
									<a href="https://github.com/dollarzhaole/site" title="GitHub地址" target="view_window">
										基于Django框架的个人小站
									</a>
								</span>
							</h2>
							<p class="time">2013.5-2013.6</p>
							<p itemprop="description">
								这是一个建立在Baidu App Engine上的个人小站系统。目前博客前端是用Bootstrap的界面，只用到Bootstrap的相当少的一部分标签，但做出来的效果还是可以入眼的。 富文本用的是tinyMCE+syntaxhighlighter(语法高亮)，在tinyMCE的panel里增加添加代码的按钮，类似于博客园的效果。
							</p>
						</div>
					</section>

				</dd>
			</dl>

			<div class="clear">&nbsp;</div>

			<!-- Begin Publications Section -->
			<dl>
				<dt>论文:</dt>
				<dd>
					<section id="publications">
						<div itemscope itemtype="http://schema.org/Article">
							<span itemprop="name">
								<li>Le zhao, Keping Li. Optimizing Train Timetable for Subway System 投稿到Journal of Rail and Rapid Transit（SCI源刊），已接收。</li>
								<li>Le zhao, Keping Li. A Multi-objective Timetable Optimization Model for Subway System with Fuzzy Passenger Number. 投稿到EITRT2013（EI会议）。</li>
							</span>
						</div>
					</section>

				</dd>
			</dl>
			<!-- End Publications Section -->

			<div class="clear">&nbsp;</div>

			<!-- Begin Education Section -->
			<dl>
				<dt>教育经历：</dt>
				<dd>

					<section id="education">
						<ul class="list1">
							<div itemscope itemtype="http://schema.org/EducationalOrganization">

								<p class="bus1">
									<span itemprop="name">北京交通大学</span>
								</p>
								<p class="summary">
									<span itemprop="name">硕士 交通运输</span>
								</p>
								<p class="time">2011 &#45; 2014</p>
							</div>
						</ul>

						<ul class="list2">
							<div itemscope itemtype="http://schema.org/EducationalOrganization">

								<p class="summary">
									<span itemprop="name">学士 理科试验班（教育部批准的“多学科复合型人才培养模式实验区”）</span>
								</p>
								<p class="time">2006 &#45; 2010</p>
							</div>
						</ul>
					</section>

				</dd>
			</dl>
			<!-- End Education Section -->

			<div class="clear">&nbsp;</div>

			<!-- Begin Footer -->
			<footer id="footer">
				<div class="credits">
					©2013 赵乐
				</div>

			</footer>
			<!-- End Footer -->

		</div>
		<!-- End Content -->

	</div>
	<!-- End Wrapper -->

</body>
</html>